*, *:before, *:after {
  box-sizing: border-box
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.hero, footer {
  background: #1F2937;
  color: #FFF;
}

/* Navbar */
header.hero {
  height: 556px;
  padding: 0 20em;
  padding-top: 1em;
}

.navbar {
  display: flex;
  align-items: center;
}

.nav-links, .hero-text>p {
  font-size: 18px;
  color: #E5E7EB;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
  color: #F9FAF8;
  margin-right: auto;
}

/* Hero Headers */
.hero-section {
  margin-top: 6em;
}

.hero-text > .title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin-bottom: 0;
  line-height: 100%;;
}

.hero-text > p, .title {
  max-width: 450px;
}

.btn {
  background: #3882F6;
  color: #FFF;
  border: none;
  padding: 1em 2.5em;
  border-radius: 10px;
  font-weight: 700;
  font-family: inherit;
}

/* Info Cards */
.info-cards {
  padding: 5em 5em;
}

.info-cards > h1 {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  color: #1F2937;
  margin-bottom: 2em;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card > img {
  border: 2px solid #3882F6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

.card > p {
  text-align: center;
  max-width: 200px;
}

/* Blockquote */
.blockquote {
  padding: 0 20em;
  background: #E5E7EB;
}

.quote {
  padding: 6em 6em;
}

.quote > p:nth-child(1) {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote > p:nth-child(2) {
  text-align: right;
  font-weight: 700;
}

/* CTA */
.cta {
  padding: 0 20em;
}

.cta-card {
  background: #3882F6;
  color: #FFF;
  border: none;
  padding: 2em 4em;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 5em auto;
}
.text {
  margin-right: auto;
}

.header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}

.reverse {
  border: 2px solid #F9FAF8;
}

/* footer */
footer > p {
  margin: 0;
  text-align: center;
  padding: 1em;
  padding-bottom: 1.5em;
}

@media screen and (max-width: 1400px) {
  header.hero, .cta, .blockquote {
    padding: 0 6em;
  }

  .quote {
    padding: 2em 0;
  }
}